body {
  margin: 0;
}

dialog {
  padding: 0;
  text-align: center;
  width: 75vw;
}
dialog::backdrop {
  background: rgba(0, 0, 0, 0.5);
}

#cropper {
  background-color: black;
  border: 2px solid white;
  cursor: move;
  height: 50vh;
  left: 25vw;
  mix-blend-mode: difference;
  overflow: hidden;
  position: absolute;
  resize: both;
  top: 25vh;
  width: 50vw;
}

#crop_controls {
  bottom: 5px;
  left: calc(50vw - 137.5px);
  position: absolute;
}

#update_btn {
  background-color: cadetblue;
  border: none;
  font-size: x-large;
  font-weight: 600;
  left: 0;
  padding: 15px 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
}

#torch {
  background: no-repeat center center url("../images/light.svg"), white;
  border-radius: 10px;
  font-size: x-large;
  font-weight: 900;
  height: 39px;
  padding: 0;
  position: absolute;
  right: 10px;
  top: 10px;
  width: 39px;
}

#torch.light-off {
  background-color: black;
}

#output {
  border-width: 0;
  height: calc(75vh - 25px);
  resize: none;
  width: 95%;
}

#wait_status {
  text-transform: uppercase;
}